body, h1, h2, p {
margin: 0;
padding: 0;
}
/* Global Styles */
body {
font-family: Arial, sans-serif;
line-height: 1.6;
}
header {
background-color: #333;
color: #fff;
text-align: center;
padding: 1rem;
}
main {
padding: 100px;
}
.profile {
display: flex;
align-items: center;
}
.photo img {
max-width: 100%;
height: auto;
border-radius: 50%;
}
.photo{
    padding:100px;
}
footer {
text-align: center;
padding: 3rem 0;
background-color: #333;
color: #fff;
position: fixed;
bottom:0;
width:100%
}